.App {
	text-align: center;
}

.slider-main:hover > .slider-nav {
	display: grid;
}
.carousel-div {
	transition: transform 500ms;
}
.slider-nav {
	position: absolute;
	padding: 0;
	display: none;
	place-items: center;
	top: 50%;
	transform: translateY(-50%);
	width: 40px;
	height: 40px;
	border: 1px solid #ccc;
	border-radius: 50%;
	background-color: rgba(55, 55, 55, 0.5);
	cursor: pointer;
	display: none;
}

.slider-nav-left {
	left: 10px;
}
.slider-nav-right {
	right: 10px;
}
.active {
	color: #2563eb;
}
.auth-form {
	width: 100%;
	max-width: 400px;
	min-height: 200px;
	margin: auto;
}
.user-modal-form {
	width: 95%;
	max-width: 340px;
}

@keyframes slide {
	0% {
		transform: translate(-100%);
	}
	100% {
		transform: translate(100%);
	}
}

@media screen and (max-width: 500px) {
	.slider-main {
		overflow-x: auto;
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}
	.slider-main::-webkit-scrollbar {
		display: none;
	}
	.slider-nav {
		display: none !important;
	}
}

